.loading-popup {
  & > div {
    & > div {
      z-index: 90;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(5px);
    }
  }
}
